.popup__btn-close {
    background: transparent url(../../../images/btnclose.svg);
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -40px;
    right: -40px;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

.popup__btn-close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1023px) {
    .popup__btn-close {
        top: -39px;
        right: 4px;
        width: 20px;
        height: 20px;
    }
}