.popup__container {
    background-color: #fff;
    border-radius: 10px;
    width: 430px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    position: relative;
}

@media screen and (max-width: 1023px) {
    .popup__container {
        width: 282px;
    }
}
  