.popup__form {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 36px 36px 37px;
}

@media screen and (max-width: 1023px) {
    .popup__form {
        padding: 25px 22px 25px 22px;
    }
}