.elements__info-btn {
    background-image: url(../../../images/Like.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 25px;
    transition: opacity .3s ease;
}

.elements__info-btn:hover {
    opacity: 0.5;
}

.elements__info-btn.elements__info-btn_liked {
    background-image: url(../../../images/liked.svg);
}